/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: black;
   font-family: 'PT Sans Narrow', sans-serif;
   font-weight: 400;
 }

 li {
     width: 80px;
     height: 80px;
     /*border: 1px solid lightgray;*/
     box-shadow: 3px -3px 5px white;
     display: inline-block;
     list-style: none;
     margin: 0 5px;
     border-radius: 5px;
 }

 .clicked {
   background: radial-gradient(aqua, gray);
 }

 .note-step {
   width: 20px;
   height: 20px;
   margin: 0;
 }

 .pad-layout {
   display: inline-block;
   margin: 0 auto;
   width: 450px;
   float: right;
 }

 .sequencer {
   display: block;
 }

 .sequencer-row {
   margin: 0;
 }

 td {
   color: white;
 }

 .time-step {
   width: 6px;
   height: 6px;
   margin: 22px;
   border-radius: 50%;
 }

 button {
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 5px;
    width: 60px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 14px;
 }

 .on {
   background-color: red;
 }

 select {
     margin-left: 10px;
     align-items: inherit;
     display: inline-block;
     position: relative;
     top: -7px;
     border: 1px solid gray;
     background-color: inherit;
     color: white;

 }

 label {
   color: white;
   margin-left: 86%;
 }

 div.pad-layout > ul > li {
    box-shadow: 2px 2px 10px white;
    border: 0;
}

.playback-buttons {
    margin: 0 auto;
    width: 14%;
}

ul.sequencer-row > li.note-step {
    background-color: black;
    box-shadow: 0px -1px 5px white;
}

input {
  background: inherit;
  border: none;
  color: #f114f1;
  margin-left: 5px;
}

.timeline {
    height: 250px;
    width: 2px;
    position: absolute;
    background-color: red;
    top: 365px;
    /*left: 100px;*/
}

.music-box {
    display: inline-block;
    color: white;
    float: right;
    height: 270px;
    margin: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
}

.sound {
  color: white;
  width: 100px;
  height: 20px;
}
