/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: black;
   font-family: 'PT Sans Narrow', sans-serif;
   font-weight: 400;
 }

 li {
     width: 80px;
     height: 80px;
     /*border: 1px solid lightgray;*/

     display: inline-block;
     list-style: none;
     margin: 0 5px;
     border-radius: 5px;
 }

 .clicked {
   background: radial-gradient(aqua, gray);
 }

 .note-step {
   width: 20px;
   height: 20px;
   margin: 0;
 }

 .pad-layout {
   display: inline-block;
   margin: 0 auto;

   float: left;
 }

 .sequencer {
   display: block;
   width: 1000px;
 }

 .sequencer-row {
   margin: 0;
 }

 td {
   color: white;
 }

 .time-step {
   width: 6px;
   height: 6px;
   margin: 22px;
   border-radius: 50%;
   display: none;
 }

 button {
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 5px;
    width: 60px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 14px;
 }

 .on {
   background-color: red;
 }

 select {
     margin-left: 10px;
     align-items: inherit;
     display: inline-block;
     position: relative;
     top: -7px;
     border: 0;
     background-color: inherit;
     color: white;

 }

 label {
   color: white;
   margin-left: 50%;
 }

 div.pad-layout > ul > li {
    box-shadow: 2px 2px 10px white;
    border: 0;
    color: white;
    text-align: center;
}

.playback-buttons {
    margin: 0 auto;
    width: 18%;
}

ul.sequencer-row > li.note-step {
      background-color: #353e42;

    text-align: center;
}

input {
  background: inherit;
  border: none;
  color: #f114f1;
  margin-left: 5px;
  font-size: 13px;
}

.timeline {
    height: 199px;
    width: 2px;
    position: absolute;
    background-color: red;
    top: 0;

}

.music-box {
    display: inline-block;
    color: white;
    float: left;
    height: 270px;
    margin: 30px;

    border-radius: 10px;

}

.sound {
  color: white;
  width: 65px;
  height: 20px;
}

li.sound-kit {
    /* width: 0; */
    height: 10%;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    /* display: inline; */
    cursor: pointer;
    z-index: 1;
    background-color: black;

    box-shadow: 0px -1px 5px white;
}

li.kit-type {
    height: 26px;
    box-shadow: none;
}

ul.kit-holder {
    display: inline-flex;
    flex-direction: column;
    padding-left: 0;
}

.ui-draggable-helper {
  height: 20px;

  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 1px white;
  font-size: 12px;
  text-align: center;
}

.current-kit {
  height: 20px;
    width: 100px;
    border: 1px solid grey;
    margin-left: 120px;
    border-radius: 10%;
    color: white;
    text-align: center;
    font-size: 14px;
}

h2 {
  margin: 0;

}

.instructions {
    display: inline-block;
    color: white;
    width: 353px;
    float: left;
    margin-left: 40px;
    font-size: 14px;
}

p.inst {
    font-size: 12px;
    position: absolute;
    margin-left: 5px;
}

table {
  position: relative;
}

.upper-container {

  width: 1100px;
  margin: 0 auto;
}

.sequencer {
    display: block;

    margin: 0 auto;

    width: 970px;
    padding: 0 65px;
}

.tutorial {
    height: 700px;
    width: 1150px;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 5;
    color: white;

}

h1 {
    font-size: 70px;
    margin: 60px;
    margin-bottom: 0px;
    margin-top: 40px;
}

li.beat {
    width: 50px;
    height: 0;
    box-shadow: none;
    margin: 0;
    text-align: center;
}

.add-beat {
  display: none;
  margin-left: 60px;
}
.add-freestyle {
  display: none;
  margin-left: 60px;
}
.second-freestyle {
  display: none;
  margin-left: 60px;
}
.end-tutorial {
  display: none;
  margin-left: 60px;
}

.skip {
  color: aqua;
  cursor: pointer;
  margin-left: 67px;
    display: inline-block;
}

.skip:hover {
  cursor: pointer;
  color: aqua;
}

.matrix > ul {
  margin: 0;
}

.matrix > ul >  li {
  height: 20px;
  width: 20px;
  box-shadow: none;
  background-color: #353e42;
  margin-right: 1px;
}

.matrix {
  margin: 60px auto;
  width: 470px;
  margin-bottom: 10px;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.add-drums-btn {
  margin: 20px auto;
  width: 94px;

  padding: 5px 20px;
  border-radius: 5px;
  background: gray;
}
